* {
    box-sizing: border-box;
}

body {
    background-color: #e6e6e6;
    font-family: sans-serif;
    @include fontSize(16px);

    header a {
        text-decoration: none;
        color: $link-color;
        transition: color .3s ease;
        display: inline-block;

        &:hover,
        &:focus {
            color: $link-hover;
            text-decoration: none;

            &::after {
                width: 100%;
            }
        }
    }


    select {
        cursor: pointer;
        @include fontSize(16px);
        // color: white;
        background-color: $bg-input;
        height: 40px;
        border: none;
        border: 1px solid $border-input;
        border-radius: $radius-input;
        padding-left: 0.5rem;
        margin-right: 1%;

        &:focus,
        &:hover {
            outline: none;
            border-color: none;
        }
    }

    input {
        border: none;
        background-color: $bg-input;
        height: 40px;
        padding-left: 0.5rem;
        margin-right: 1%;
        border-bottom: 1.5px solid transparent;
        transition: .3s ease border-bottom;

        &:focus {
            border: none;
            outline: none;
            border-bottom: 1.5px solid $focus-input;
        }
    }
}

input[type=date],
input[type=time] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        display: none;
    }
}

a {
    text-decoration: none;
    color: $link-color;

    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    padding-left: 4%;
    padding-right: 4%;
}