$default-color: #d3ccae;
$link-color: #9e9c35;
$link-hover: #143347;
$hover-color: #f5e9e9;
$bg-color: #f1f1f1;
$bg-input: #FAFAFA;
$border-input: #E0DFDC;
$focus-input: #000;
$hover-button: #a3a3a3;
$radius-input: 4px;
$text-color: #3e3e3e;
$after-color : #cac8ca;
$default-font: 'Open Sans',
arial,
sans-serif;